body{
    background-image: url(pencil.jpg);
    background-repeat: no-repeat;
    background-size: 1400px,500px;
}
form{
    border: solid 1px;
    width: 450px;
}
label{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-left: 400px;

}
input{
    height: 40px;
    width: 400px;
    margin-left: 400px;
}
textarea{
    height: 100px;
    width: 400px;
    margin-left: 400px;
}
button{
    height: 50px;
    width: 150px;
    background-color: black;
    color: wheat;
    border-radius: 20px;
    margin-left: 400px;
}
#sample{
    padding-left: 30%;
}