*{
    padding: 0px;
    margin: 0px;

}
ul{
    border: solid 2px;
    width: 350px;
    position: fixed;
    height: 100%;
    background-color: burlywood;
    padding-top: 30px;
    list-style: none;
}
#text1{
    color: black;
    font-size: 35px;
    font-weight: bold;
}
#text2{
    color: black;
    font-size: 35px;
    font-weight: bold;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 150px;
    margin-left: 80px;
    background-color: bisque;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
ul li a{
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
ul li:hover{
    background-color: aqua;
}
#Home{
    border: solid 1px;
    height: 630px;
    background-color: aquamarine;
    padding-left: 400px;

}
html{
    scroll-behavior: smooth;
}
#text3{
    background-color: black;
    color: bisque;
    padding-left: 35%;
    font-size: 50px;
}
#text4{
    padding-left: 30%;
    font-size: 40px;
}
#text5{
    font-size: 20px;
    font-weight: bold;
}
#bt1{
    height: 40px;
    width: 200px;
    background-color: bisque;
    border-radius: 20px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;

}
#About{
    border: solid 1px;
    height: 630px;
    padding-left: 50%;
    background-color: greenyellow;

}
#About Me{
    color: black;
    font-size: 50px;
    padding-left: 60%;

}